/* Put your custom CSS here */

div[class|=ui-block] { text-align: left; }
.ui-grid-a .ui-block-a.block-settings-a { width: 25%; }
.ui-grid-a .ui-block-b.block-settings-b { width: 75%; }

.center-wrapper * {
margin: 0 auto;
}
