/* Put your custom CSS here */

div[class|=ui-block] { text-align: left; }

.center-wrapper * {
margin: 0 auto;
}

.rpi-param-title {
/*    color: #990033;*/
    font-weight:bold;
    font-size:16px;
}

.rpi-param-text {
    color: #CC0099;
    font-weight:bold;
}
